body {
    background-image: url('https://i.gifer.com/2yqT.gif');
    background-size: cover;
}
#menu-trigger {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 10px;
    margin-left: 20px;
    left: 0;
    cursor: pointer;
    z-index: 1;
}
  
  
.menu-trigger  div {
    width: 30px;
    height: 4px;
    background: rgb(124, 124, 169) none repeat scroll 0% 0%;
    margin-top: 3px;
    margin-left: 20px;
}  
  
.menu-hidde { /*o menu aqui*/
    background: #333 none repeat scroll 0% 0%;
    width: 185px;
    height: 100%;
    position: absolute;
    box-shadow: 1px 2px 3px #DDD;
    left: -100%;
    transition: left 0.5s ease 0s;
}
  
.menu-hidde li {
    color: #fff;
    font-size: 20px;
    padding: 18px;
    cursor: pointer;
}
  
.menu-hidde ul {
    position: absolute;
    top: 31px;
}

.box {
    width: 200px;
    position: fixed;
    background-image: url('https://i.pinimg.com/originals/96/3d/e0/963de0b53d66f66591c88e8fce037d13.gif') ;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    border-right: solid #2a2a4759  3px;

}

.profile {
    margin-top: 2rem;
    width: auto ;
    height: 200px;
    border-radius: 50px 50px 50px 50px;
    display: block;
    padding: 1rem;
}

.text {
    width: auto;
	margin: 0 auto;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    padding: 0.8rem;
}

.text p {
    color: black;
}

.opacity{
    width: 197px;
    height: 30vh;
    position: absolute;
    top: 16rem;
    background-color: rgb(175 108 173 / 50%);
    z-index: 1;
    border-radius: 5% 5% 5% 5%;
}


.goku {
    position: relative;
    top: 235px;
}

.goku .pri{
    margin-top: 6rem;
    margin-left: 4rem;
    height: 120px;
}

.goku:hover .pri {
    visibility: hidden;
}
.goku .seg {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
}
.goku:hover .seg {
    visibility: visible;
    opacity: 1;
}




body{
    background-color: rgb(42, 42, 71);
}


main {
    margin-left: 40px;
}

.info { 
    position: relative;
    top: 12rem;
}

.video {
    display: block;
    margin-bottom: 2rem;
    border-radius: 50px 50px 50px 50px;
}

.linguages {
    width: 15rem;
    margin-top: 2rem;
    background-color: rgb(107, 106, 106);
    padding: 1rem;
    display: block;
    border-radius: 50px 50px 50px 50px;
    box-shadow: inset 0 0px 5px 3px black
}

.linguages:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.social {
    display: block;
    margin-top: 2rem
}
